<div class="container px-4 py-5 text-center" id="icon-grid">
    <h2 class="pb-2 border-bottom">ПРЕИМУЩЕСТВА СИСТЕМЫ</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-2 g-4 py-5 text-start">
        <div class="col d-flex align-items-start">
            <img src="../static/mini_icons/bodybuilding.svg" height="50px" class="me-3">
            <div>
                <h3 class="fw-bold mb-0 fs-4">Высокая прочность, жёсткость и надёжность</h3>
                <p>По прочности  соединение с помощью краб-системы ничем не уступает сварке.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img src="../static/mini_icons/piggy.svg" height="50px" class="me-3">
            <div>
                <h3 class="fw-bold mb-0 fs-4 ">Низкая стоимость</h3>
                <p class="lh-1">Цена конструкции относительна низка, так как:
                    • Вам не нужно использовать сварочный аппарат;
                    • работу Вы можете сделать своими руками</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img src="../static/mini_icons/cycle.svg" height="50px" class="me-3">
            <div>
                <h3 class="fw-bold mb-0 fs-4">Возможность многоразового использования</h3>
                <p>Система соединения позволяет перестроить конструкцию – уменьшить, увеличить размеры.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start">
            <img src="../static/mini_icons/montage.svg" height="50px" class="me-3">
            <div>
                <h3 class="fw-bold mb-0 fs-4">Простота монтажа</h3>
                <p>Для выполнения работ Вам не требуется специальных знаний, Краб-система закрепляется при помощи болтов и гаек .</p>
            </div>
        </div>
    </div>
</div>