<div class="card" id="applic">
    <img src="../static/background.jpg" class="card-img">
    <form class="px-5 py-5 bg-white needs-validation border rounded-3 position-absolute top-50 start-50 translate-middle" novalidate>
        <h2 class="">ОСТАВИТЬ ЗАВЯВКУ</h2>
        <h5 class="pb-2">НА РАСЧЕТ СТОИМОСТИ</h5>
        <div class="form-floating mb-3">
            <input type="email" class="form-control" id="email">
            <label for="email" class="form-label">E-mail</label>
        </div>

        <div class="form-floating mb-3">
            <input type="phone" class="form-control" id="phone">
            <label for="phone" class="form-label">Номер телефона</label>
        </div>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" value="remember-me"> Соглашаюсь с условиями передачи данных
            </label>
        </div>
        <button class="w-100 btn btn-lg btn-success" type="submit">Заказать расчёт цены</button>
    </form>
</div>