<div class="container">
    <header class="navbar fixed-top bg-white d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
        <a href="/" class="d-flex align-items-center mb-3 ms-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
            <img src="../static/logo.svg" alr="" class="d-inline-block align-text-top">
        </a>

        <ul class="nav nav-pills">
            <li class="nav-item"><a href="#catalog" class="nav-link">Каталог</a></li>
            <li class="nav-item"><a href="#applic" class="nav-link">Расчет стоимости</a></li>
            <li class="nav-item"><a href="#parthners" class="nav-link">Партнеры</a></li>
            <li class="nav-item"><a href="#feedback" class="nav-link">Отзывы</a></li>
            <li class="nav-item ms-5">
                <div>
                    <b>Москва</b>
                    <div class="dropdown me-2">
                      <button class="btn dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Все города
                      </button>
                      <ul class="dropdown-menu">
                        <li><button class="dropdown-item" type="button">Санкт-Петербург</button></li>
                        <li><button class="dropdown-item" type="button">Казань</button></li>
                        <li><button class="dropdown-item" type="button">Самара</button></li>
                      </ul>
                    </div>
                </div>
            </li>
            <li class="nav-item">
                <div>
                    <b>8-985-344-76-46</b>
                    <a href="#applic" class="nav-link">
                        <p>Заказать звонок</p>
                    </a>
                </div>
            </li>
        </ul>
    </header>
</div>
<div style="height:100px"> </div>