<div class="container px-4 py-5 text-center">
    <h2 class="pb-2 border-bottom ">Почему мы?</h2>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
        <div class="col d-flex align-items-start card border border-0">
            <img src="../static/mini_icons/factory.svg" height="70px" class="me-3 card-img-top">
            <div class="card-body">
                <h3 class="fw-bold mb-0 fs-4">Собственное производство</h3>
                <p>Мы изготавливаем элементы краб-системы на собственном производстве в Вологде, уделяя особое внимание качеству.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start card border border-0">
            <img src="../static/mini_icons/truck.svg" height="70px" class="me-3 card-img-top">
            <div class="card-body">
                <h3 class="fw-bold mb-0 fs-4">Доставка по всей России</h3>
                <p>Мы осуществляем доставку нашей продукции по всей России.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start card border border-0">
            <img src="../static/mini_icons/rub.svg" height="70px" class="me-3 card-img-top">
            <div class="card-body">
                <h3 class="fw-bold mb-0 fs-4">Доступные цены</h3>
                <p>Так как мы являемся производителем, мы предлагаем нашу продукцию без лишних наценок.</p>
            </div>
        </div>
        <div class="col d-flex align-items-start card border border-0">
            <img src="../static/mini_icons/truck.svg" height="70px" class="me-3 card-img-top">
            <div class="card-body">
                <h3 class="fw-bold mb-0 fs-4">Гарантия качества</h3>
                <p>Мы уделяем особое внимание качеству нашей продукции и дорожим нашими клиентами.</p>
            </div>
        </div>
    </div>
</div>